body, .inner-page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  line-height: 18px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  font-weight: bold;
}

.site-navigation > a {
  display: inline-block;

  padding: 7px 11px;
  border-radius: 20px;

  text-decoration: underline;
}

.site-navigation .active > a {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: none;
}

.catalog > a {
  padding: 7px 0;
  border-radius: 20px;
}

.catalog > a:active {
  color: #323232;
  background-color: #f7f6f3;

  box-shadow: inset 0 1px 1px 1px #8a8a8a;
}

.catalog > a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.user-navigation {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 16px;
}

.schedule {
  position: absolute;

  display: flex;
  flex-direction: column;
  width: 166px;

  font-size: 14px;
  line-height: 16px;
}

.schedule a {
  font-size: 22px;
  line-height: 24px;
}

.schedule a:hover,
.schedule a:focus,
.schedule a:active {
  color: #ffbc9e;
}

.container a {
  color: #ffffff;
}

.breadcrumbs .page-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  list-style: none;
  line-height: 14px;
}

.breadcrumbs a {
  color: #ffffff;
}

.page-navigation {
  display: flex;
}

.page-navigation a {
  padding-right: 20px;

  text-decoration: underline;
}

.page-navigation .active a {
  padding-right: 0;

  text-decoration: none;
}

.page-navigation a:hover,
.page-navigation a:focus,
.page-navigation a:active {
  color: #ffbc9e;
}

.delivery-payment a {
  padding: 7px 0;
  border-radius: 20px;
}

.delivery-payment a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.about-company a {
  padding: 7px 0;
  border-radius: 20px;
}

.about-company a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.catalog .new-items {
  display: none;
  border-radius: 5px;

  background-color: #f8f7f4;
}

.catalog .list-new-items {
  border-bottom: 1px solid #d1d0ce;
  padding: 5px 0;
  color: #323232;
}

.new-items a {
  font-weight: normal;
  color: #323232;
}

.new-items li {
  display: block;
  padding: 5px 0;
}

.new-items li:not(:first-child):hover {
  background-color: #fbded7;
}

.new-items li:not(:first-child):active {
  background-color: #f6b5a5;
}

.search-form {
  background-color: #f8f7f4;
  display: none;

  width: 341px;
}

.login-form {
  display: none;
  width: 272px;

  background-color: #f8f7f4;
}

.call-back-form {
  display: none;
  width: 474px;

  background-color: #f8f7f4;
}

.ice-cream-offer {
  margin: 0 auto 26px;

  font-size: 60px;
  line-height: 60px;
  font-weight: bold;

  text-align: center;

  width: 670px;
}

.main-booking {
  display: block;
  margin: 0 auto 41px;;
  padding: 17px 0 16px 0;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(158, 67, 52, 0.64);
  background-image: linear-gradient(to top, #e94f37, #f26743);
  border: none;
  border-radius: 35px;

  cursor: pointer;
}

.main-booking:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.main-booking:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.filters-section {
  line-height: 18px;
}

.filters-section .fieldset-sorting, .filters-section .fieldset-price, .filters-section .fieldset-fat-content, .filters-section .fieldset-fillers {
  padding: 0;
}

.filters-section .sorting, .filters-section .price, .filters-section .fat-content, .filters-section .fillers {
  font-size: 14px;
  line-height: 16px;
}

.filters-section .fieldset-sorting {
  width: 130px;
}

.filters-section .fieldset-price {
  width: 220px;
}

.filters-section .fieldset-fat-content {
  width: 415px;
}

.filters-section .fieldset-fillers {
  width: 703px;
}

.promotion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promotion .promotion-raspberry, .promotion .promotion-chocolate {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;

  border-radius: 15px;
  font-weight: bold;
  background-repeat: no-repeat;
}

.promotion-raspberry {
  background-image: url("../img/promotion-raspberry.png");
}

.promotion-chocolate {
  background-image: url("../img/promotion-chocolate.png");
}

.promotion .raspberry-free, .promotion .chocolate-free {
  padding-bottom: 20px;
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promotion .raspberry-free {
  padding-top: 23px;
}

.promotion .chocolate-free {
  padding-top: 23px;
}

.promotion .special-offer {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

promotion-raspberry .special-offer {
  margin-top: 0;
}

.promotion a {
  display: inline-block;
  align-self: flex-end;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74d37, #f06542);
  border-radius: 25px;
}

.promotion-raspberry a {
  padding: 15px 0 14px 0;
}

.promotion-chocolate a {
  padding: 14px 0 14px 0;
}

.promotion-raspberry a:hover, .promotion-chocolate a:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.promotion-raspberry a:active, .promotion-chocolate a:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.enumeration-of-orders {
  display: none;
}

.best-choice, .main-ice-cream {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-ice-cream {
  margin-bottom: 80px;
}

.best-choice .ice-cream, .main-ice-cream .ice-cream {
  margin-right: 26px;
  width: 267px;
}



.best-choice a, .main-ice-cream a {
  display: block;

  color: #ffffff;
  text-align: center;
}

.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active {
   color: #ffbc9e;
}

.best-choice .price, .main-ice-cream .price {
  margin: 0;
}

.best-choice a, .main-ice-cream a {
  font-size: 16px;
  line-height: 22px;

  font-weight: normal;
  text-decoration: underline;
}

.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active,
.main-ice-cream a:hover,
.main-ice-cream a:focus,
.main-ice-cream a:active {
  color: #ffbc9e;
}

.best-choice .weight, .main-ice-cream .weight {
  font-size: 30px;
}

.best-choice, .main-ice-cream {
  font-size: 45px;
  line-height: 45px;
}

.main-ice-cream .ice-cream-assortment {
  font-size: 35px;
  line-height: 35px;
}

.about-gllacy-store {
  margin: 0 auto;

  font-size: 16px;
  color: #323232;
  background-image: url("../img/wafer-pattern.png");

  border-radius: 15px;
}

.about-gllacy-store .features {
  padding-top: 29px;
  padding-left: 21px;
  width: 1013px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.about-gllacy-store .features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  line-height: 22px;
  font-weight: normal;

  list-style: none;
}

.features-list .feature-item:nth-child(2n) {
  width: 470px;
}

.features-list .feature-item:nth-child(2n+1) {
  width: 476px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.news {
  border-radius: 15px;

  font-weight: normal;
  color: #323232;

  background-image: url("../img/news-background.png");
  background-repeat: no-repeat;

  width: 555px;
  min-height: 220px;
}

.news .news-title {
  padding-top: 26px;

  line-height: 22px;
}

.news a {
  padding-right: 250px;

  display: inline-block;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;

}

.mail-background {
  padding: 5px;
  width: 56opx;

  border-radius: 10px;
  background-image: url("../img/mail-background.jpg");
}

.subscribe {
  margin: 0 auto 5px;
  width: 549px;

  line-height: 22px;
  font-weight: normal;

  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe .call-to-subscribe {
  margin-top: 3px;
  margin-bottom: 38px;
  padding-top: 20px;
}

.subscribe input[placeholder] {
  padding: 14px 0 12px 0;

  border-radius: 5px;
  border-color: rgba(178, 178, 178, 0.52);
  border-style: solid;
  border-width: 1px;
  border-right: transparent;

  line-height: 24px;

  background-color: #ffffff;
  color: #999999;
}

.subscribe .submit {
  margin-bottom: 30px;
  padding: 13px 0 12px 0;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  cursor: pointer;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
}

.news a:hover,
.news a:focus,
.news a:active,
.address a:hover,
.address a:focus,
.address a:active {
  color: #e84d37;
}

.map {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 61px 0 62px 0;

  background-image: url("../img/map-background.jpg");
  background-repeat: repeat;
  background-color: #849d8f;
}

.address {
  margin-left: 871px;
  width: 302px;

  font-style: normal;
  font-weight: normal;
  color: #323232;
  background-color: #ffffff;
  border-radius: 12px;
}

.address-announcement {
  margin: 0;
  padding-top: 30px;

  font-size: 14px;
  line-height: 20px;
}

.address-office {
  margin: 0;
  padding-top: 9px;

  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.order-phone {
  margin: 0;
  padding-top: 17px;

  font-size: 14px;
  line-height: 20px;
}

.phone-schedule {
  margin: 0;
  padding-top: 12px;

  font-size: 14px;
  line-height: 22px;
}

.phone-schedule a {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
}

.phone-schedule a:hover,
.phone-schedule a:focus,
.phone-schedule a:active {
  color: #e84d37;
}

.address .button {
  margin-left: 25px;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 13px 0;
  border: none;
  border-radius: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);

  background-image: linear-gradient(to top, #e74a35, #f26843);

  cursor: pointer;
}

.pagination-list .pagination {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.pagination a, .pagination .previous-page, .pagination .next-page {
  display: inline-block;
  padding-top: 4px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.pagination a {
  width: 27px;
  height: 22px;

  border-radius: 50%;
}

.pagination-item a:hover, .pagination a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination .active a {
  width: 27px;
  height: 22px;

  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination .previous-page {
  margin-top: 22px;
  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.png") no-repeat;

  transform: rotate(180deg);
  transform-origin: 0 0;
}

.pagination .next-page {
  margin-top: 7px;
  width: 8px;
  min-height: 12px;

  background: url("../img/icon-right-small.png") no-repeat;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  /*margin: 37px 27px 31px;*/
}

.main-footer a {
  font-weight: normal;
  color: #ffffff;
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}

.footer-info {
  width: 309px;

  font-size: 13px;
  line-height: 18px;
}

.footer-info a {
  display: inline-block;
}

.footer-info a:nth-child(1) {
  /*margin-right: 32px;
  margin-bottom: 9px;*/

  font-weight: bold;
}

/*.footer-info a:nth-child(2) {
  margin-bottom: 9px;
}

.footer-info a:nth-child(3) {
  margin-right: 44px;
}

.inner-page .footer-info a:nth-child(3) {
  margin-right: 37px;
}*/

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}
div, section, article, a, ul, li, p, footer, header {
  outline: 1px solid red;
  }















































