body, .inner-page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;


  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 18px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  font-weight: bold;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
}

.schedule a {
  font-size: 22px;
  line-height: 24px;
}

.schedule a:hover,
.schedule a:focus,
.schedule a:active {
  color: #ffbc9e;
}

.main-header a, .breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs .page-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  list-style: none;
  line-height: 14px;
}

.page-navigation a {
  text-decoration: underline;
}

.page-navigation a:hover,
.page-navigation a:focus,
.page-navigation a:active {
  color: #ffbc9e;
}

.site-navigation .active > a {
  padding: 7px 0;
  border-radius: 20px;

  color: #ffffff;
  background-color: #d07058;
}

.catalog > a {
  padding: 7px 0;
  border-radius: 20px;
}

.catalog > a:active {
  color: #323232;
  background-color: #f7f6f3;

  box-shadow: inset 0 1px 1px 1px #8a8a8a;
}

.catalog > a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.delivery-payment a {
  padding: 7px 0;
  border-radius: 20px;
}

.delivery-payment a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.about-company a {
  padding: 7px 0;
  border-radius: 20px;
}

.about-company a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.catalog .new-items {
  display: none;
  border-radius: 5px;

  background-color: #f8f7f4;
}

.catalog .list-new-items {
  border-bottom: 1px solid #d1d0ce;
  padding: 5px 0;
  color: #323232;
}

.new-items a {
  font-weight: normal;
  color: #323232;
}

.new-items li {
  display: block;
  padding: 5px 0;
}

.new-items li:not(:first-child):hover {
  background-color: #fbded7;
}

.new-items li:not(:first-child):active {
  background-color: #f6b5a5;
}

.search-form {
  background-color: #f8f7f4;
  display: none;

  width: 341px;
}

.login-form {
  background-color: #f8f7f4;
  display: none;

  width: 272px;
}

.call-back-form {
  background-color: #f8f7f4;
  display: none;

  width: 474px;
}

.main-booking {
  padding: 17px 0 16px 0;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(158, 67, 52, 0.64);
  background-image: linear-gradient(to top, #e94f37, #f26743);
  border: none;
  border-radius: 35px;

  cursor: pointer;
}

.main-booking:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.main-booking:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.promotion .promotion-raspberry, .promotion .promotion-chocolate {
  border-radius: 15px;
  font-weight: bold;

  width: 560px;
  height: 229px;

  background-repeat: no-repeat;
}

.promotion-raspberry {
  background-image: url("../img/promotion-raspberry.png");
}

.promotion-chocolate {
  background-image: url("../img/promotion-chocolate.png");
}

.promotion .raspberry-free, .promotion .chocolate-free {
  padding-bottom: 20px;
  margin-bottom: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promotion .raspberry-free {
  padding-top: 23px;
}

.promotion .chocolate-free {
  padding-top: 23px;
}

.promotion .special-offer {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

promotion-raspberry .special-offer {
  margin-top: 0;
}

.promotion a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74d37, #f06542);
  border-radius: 25px;
}

.promotion-raspberry a {
  margin-left: 374px;
  padding: 15px 0 14px 0;
}

.promotion-chocolate a {
  margin-left: 350px;
  padding: 14px 0 14px 0;
}

.promotion-raspberry a:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.promotion-raspberry a:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.promotion-chocolate a:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.promotion-chocolate a:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.enumeration-of-orders {
  display: none;
}

.best-choice a, .main-ice-cream a {
  color: #ffffff;
}

.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active {
   color: #ffbc9e;
}

.ice-cream-offer {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;

  text-align: center;

  width: 670px;
}

.about-gllacy-store {
  border-radius: 15px;
  margin: 0 auto;

  font-size: 16px;
  color: #323232;
  background-image: url("../img/wafer-pattern.png");

  width: 1200px;
}

.about-gllacy-store .features {
  padding-top: 29px;
  font-size: 24px;
  line-height: 30px;

  color: #323232;
}

.about-gllacy-store .features-list {
  line-height: 22px;
  font-weight: normal;

  list-style: none;

  width: 470px;
}

.best-choice, .main-ice-cream {
  font-size: 45px;
  line-height: 45px;
}

.main-ice-cream .ice-cream-assortment {
  font-size: 35px;
  line-height: 35px;
}

.best-choice .price, .main-ice-cream .price {
  margin: 0;
}

.best-choice a, .main-ice-cream a {
  font-size: 16px;
  line-height: 22px;

  font-weight: normal;
  text-decoration: underline;
}

.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active,
.main-ice-cream a:hover,
.main-ice-cream a:focus,
.main-ice-cream a:active {
  color: #ffbc9e;
}

.best-choice .weight, .main-ice-cream .weight {
  font-size: 30px;
}

.news {
  border-radius: 15px;

  font-weight: normal;
  color: #323232;

  background-image: url("../img/news-background.png");
  background-repeat: no-repeat;

  width: 555px;
  height: 220px;
}

.news .news-title {
  padding-top: 26px;

  line-height: 22px;
}

.news a {
  padding-right: 250px;

  display: inline-block;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;

}

.mail-background {
  padding: 2px 0;
}

.subscribe {
  line-height: 22px;
  font-weight: normal;

  color: #5a5a5a;
  background-color: #f8f7f4;

  width: 549px;
}

.subscribe .call-to-subscribe {
  padding-top: 33px;
}

.subscribe input[placeholder] {
  padding: 14px 0 12px 0;

  border-radius: 5px;
  border-color: rgba(178, 178, 178, 0.52);
  border-style: solid;
  border-width: 1px;
  border-right: transparent;

  line-height: 24px;

  background-color: #ffffff;
  color: #999999;
}

.subscribe .submit {
  padding: 13px 0 12px 0;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  cursor: pointer;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
}

.mail-background {
  background-image: url("../img/mail-background.jpg");

  width: 562px;
}

.news a:hover,
.news a:focus,
.news a:active,
.address a:hover,
.address a:focus,
.address a:active {
  color: #e84d37;
}

.map {
  margin: 0 auto;

  padding: 61px 0 62px 0;

  background-image: url("../img/map-background.jpg");
  background-repeat: no-repeat;
}

.address {
  border-radius: 12px;

  font-style: normal;
  font-weight: normal;
  color: #323232;
  background-color: #ffffff;

  width: 302px;
}

.address-announcement {
  margin: 0;
  padding-top: 30px;

  font-size: 14px;
  line-height: 20px;
}

.address-office {
  margin: 0;
  padding-top: 9px;

  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.order-phone {
  margin: 0;
  padding-top: 17px;

  font-size: 14px;
  line-height: 20px;
}

.phone-schedule {
  margin: 0;
  padding-top: 12px;

  font-size: 14px;
  line-height: 22px;
}

.phone-schedule a {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
}

.phone-schedule a:hover,
.phone-schedule a:focus,
.phone-schedule a:active {
  color: #e84d37;
}

.address .button {
  margin-left: 25px;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 13px 0;
  border: none;
  border-radius: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);

  background-image: linear-gradient(to top, #e74a35, #f26843);

  cursor: pointer;
}

.pagination-list .pagination {
  list-style: none;
}

.pagination a, .pagination .previous-page, .pagination .next-page {
  display: inline-block;
  padding-top: 4px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.pagination a {
  width: 27px;
  height: 22px;

  border-radius: 50%;
}

.pagination-item-hover a, .pagination a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination .previous-page {
  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.png") no-repeat;

  transform: rotate(180deg);
  transform-origin: 0 0;
}

.pagination .next-page {
  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.png") no-repeat;
}

.main-footer a {
  font-weight: normal;
  color: #ffffff;
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}

.footer-info {
  font-size: 13px;
  line-height: 18px;
}

.footer-info a:nth-child(1) {
  font-weight: bold;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}















































