body, .inner-page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;


  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.main-header a, .breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs .page-navigation {
  list-style: none;
  font-weight: normal;
}

.catalog > a {
  padding: 7px 10px;
  border-radius: 20px;
}

.catalog > a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.catalog .new-items {
  display: none;
  border-radius: 5px;

  background-color: #f8f7f4;
}

.catalog .list-new-items {
  border-bottom: 1px solid #d1d0ce;
  padding: 5px;
  color: #323232;
}

.new-items a {
  font-weight: normal;
  color: #323232;
}

.new-items li {
  display: block;
  padding: 5px;
}

.new-items li:not(:first-child):hover {
  background-color: #fbded7;
}

.new-items li:not(:first-child):active {
  background-color: #f6b5a5;
}

.search-form {
  background-color: #f8f7f4;
  display: none;

  width: 341px;
}

.login-form {
  background-color: #f8f7f4;
  display: none;

  width: 272px;
}

.call-back-form {
  background-color: #f8f7f4;
  display: none;

  width: 474px;
}

.enumeration-of-orders {
  display: none;
}

.best-choice a, .main-ice-cream a {
  color: #ffffff;
}

.promotion a {
  padding: 10px;
  border-radius: 15px;
  font-family: "Roboto 700", Arial, sans-serif;
  font-size: inherit;

  color: #ffffff;
  background-color: #eb5a3d;
}

.promotion a:hover,
.promotion a:focus,
.promotion a:active,
.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active {
  color: #ffbc9e;
}

.promotion-raspberry, .promotion-chocolate {
  background-repeat: no-repeat;

  font-weight: bold;
}

.promotion-raspberry {
  background-image: url(../img/promotion-raspberry.png);
}

.promotion-chocolate {
  background-image: url(../img/promotion-chocolate.png);
}

.about-gllacy-store {
  font-size: 16px;
  color: #323232;
  background-image: url(../img/wafer-pattern.png);
}

.about-gllacy-store .features {
  font-size: 24px;

  color: #323232;
}

.about-gllacy-store .features-list {
  font-weight: normal;

  list-style: none;
}

.main-ice-cream {
  font-size: 45px;
}

.main-ice-cream .ice-cream-assortment {
  font-size: 35px;
}

.main-ice-cream a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
}

.main-ice-cream a:hover,
.main-ice-cream a:focus,
.main-ice-cream a:active {
  color: #ffbc9e;
}

.main-ice-cream .weight {
  font-size: 30px;
}

.news {
  font-weight: normal;
  color: #323232;

  background-image: url(../img/news-background.png);
  background-repeat: no-repeat;

  width: 555px;
}

.news a {
  font-size: 24px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  width: 560px;
  color: #323232;

  background-color: #f8f7f4;

  width: 548px;
}

.mail-background {
  background-image: url(../img/mail-background.jpg);
  background-repeat: repeat;

  width: 562px;
}

.map {
  background-image: url(../img/map-background.jpg);
  background-repeat: no-repeat;
}

.address a {
  font-size: 22px;
  font-weight: bold;
  color: #323232;
}

.news a:hover,
.news a:focus,
.news a:active,
.address a:hover,
.address a:focus,
.address a:active {
  color: #e84d37;
}

.address {
  border-radius: 10px;
  padding: 20px;
  width: 300px;

  font-style: normal;
  font-weight: normal;
  color: #323232;
  background-color: #fefefe;
}

.address .button {
  padding: 10px;
  border: none;
  border-radius: 20px;

  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(180deg, #f26843, #e34e3a);

  cursor: pointer;
}

.pagination-list .pagination {
  list-style: none;
}

.pagination a, .pagination .previous-page, .pagination .next-page {
  color: #ffffff;
}

.main-footer a {
  font-weight: normal;
  color: #ffffff;
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}















































