body, .inner-page {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.main-header {
  position: relative;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

  color: #ffffff;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  position: absolute;
  top: 5px;
  left: 204px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 355px;
  margin-top: 15px;
}

.site-navigation a {
  display: inline-block;
  padding: 7px 10px;
  border-radius: 20px;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.site-navigation a:hover {
  color: #323232;
  background-color: #f7f6f3;

  text-decoration: none;
}

.site-navigation .active > a {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: none;
}

.catalog > a, .delivery-payment > a, .about-company > a {
  padding: 7px 10px;
  border-radius: 20px;
}

.catalog > a:active, .delivery-payment > a:active, .about-company > a:active {
  color: #323232;
  background-color: #f7f6f3;

  box-shadow: inset 0 1px 1px 1px #8a8a8a;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 250px;
  margin-top: 22px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 16px;
}

.user-navigation a {
  display: block;
  margin-left: 8px;
  padding: 5px 10px;

  vertical-align: middle;
  color: #ffffff;
}

.user-navigation .search-navigation {
  padding: 17px;

  background-color: #a0b5a9;

  background-image: url("../img/svg-gllacy/loupe.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.user-navigation .search-navigation:hover {
  background-color: #f8f7f4;
  background-image: url("../img/svg-gllacy/loupe-hover.svg");
}

.user-navigation .login-navigation {
  position: relative;
  padding: 10px;
  padding-left: 42px;

  background-color: #9eb2a7;
  border-radius: 20px;
}

.login-navigation::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 12px;

  width: 21px;
  height: 19px;

  background-image: url("../img/svg-gllacy/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .login-navigation:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation .login-navigation:hover::before {
  background-image: url("../img/svg-gllacy/entrance-hover.svg");
}

.user-navigation .purchase-navigation {
  position: relative;
  padding: 10px;
  padding-left: 42px;

  background-color: #9eb2a7;
  border-radius: 20px;
}

.purchase-navigation::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 12px;

  width: 21px;
  height: 19px;

  background-image: url("../img/svg-gllacy/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .purchase-navigation:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation .purchase-navigation:hover::before {
  background-image: url("../img/svg-gllacy/basket-hover.svg");
}

.user-navigation .purchase-done-navigation {
  position: relative;
  padding: 9px;
  padding-left: 42px;

  color: #323232;
  background-color: #f8f7f4;
  border-radius: 20px;
}

.purchase-done-navigation::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 14px;

  width: 21px;
  height: 19px;

  background-image: url("../img/svg-gllacy/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.schedule {
  position: absolute;
  top: 75px;
  right: 27px;

  display: flex;
  flex-direction: column;
  width: 166px;

  font-size: 14px;
  line-height: 16px;
}

.schedule a {
  font-size: 22px;
  line-height: 24px;
}

.schedule a:hover,
.schedule a:focus,
.schedule a:active {
  color: #ffbc9e;
}

.breadcrumbs .page-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  list-style: none;
  line-height: 14px;
}

.breadcrumbs a {
  color: #ffffff;
}

.page-navigation {
  display: flex;
}

.page-navigation a {
  padding-right: 20px;

  text-decoration: underline;
}

.page-navigation .active a {
  padding-right: 0;

  text-decoration: none;
}

.page-navigation a:hover,
.page-navigation a:focus,
.page-navigation a:active {
  color: #ffbc9e;
}

.catalog .new-items {
  display: none;
  border-radius: 5px;

  background-color: #f8f7f4;
}

.catalog .list-new-items {
  border-bottom: 1px solid #d1d0ce;
  padding: 5px 0;
  color: #323232;
}

.new-items a {
  font-weight: normal;
  color: #323232;
}

.new-items li {
  display: block;
  padding: 5px 0;
}

.new-items li:not(:first-child):hover {
  background-color: #fbded7;
}

.new-items li:not(:first-child):active {
  background-color: #f6b5a5;
}

.search-form {
  background-color: #f8f7f4;
  display: none;

  width: 341px;
}

.login-form {
  display: none;
  width: 272px;

  background-color: #f8f7f4;
}

.call-back-form {
  display: none;
  width: 474px;

  background-color: #f8f7f4;
}

.ice-cream-offer {
  margin: 0 auto 26px;

  font-size: 60px;
  line-height: 60px;
  font-weight: bold;

  text-align: center;

  width: 670px;
}

.main-booking {
  display: block;
  margin: 0 auto 41px;;
  padding: 17px 43px 16px 41px;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(158, 67, 52, 0.64);
  background-image: linear-gradient(to top, #e94f37, #f26743);
  border: none;
  border-radius: 35px;

  cursor: pointer;
}

.main-booking:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.main-booking:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.filters-section {
  display: flex;
  flex-wrap: wrap;

  line-height: 18px;
}

.filters-section .fieldset-sorting, .filters-section .fieldset-price, .filters-section .fieldset-fat-content, .filters-section .fieldset-fillers {
  padding: 0;
}

.filters-section .sorting, .filters-section .price, .filters-section .fat-content, .filters-section .fillers {
  font-size: 14px;
  line-height: 16px;
}

.filters-section .fieldset-sorting {
  width: 194px;
}

.filters-section .fieldset-price {
  width: 220px;
}

.filters-section .fieldset-fat-content {
  width: 415px;
}

.filters-section .fieldset-fillers {
  width: 703px;
}

.filters-section .button {
  width: 144px;

  cursor: pointer;
}

.promotion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promotion .promotion-raspberry, .promotion .promotion-chocolate {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 229px;

  border-radius: 15px;
  font-weight: bold;
  background-repeat: no-repeat;
}

.promotion-raspberry {

  background-image: url("../img/promotion-raspberry.png");
}

.promotion-chocolate {
  background-image: url("../img/promotion-chocolate.png");
}

.promotion .raspberry-free, .promotion .chocolate-free {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promotion .raspberry-free {
  padding: 23px 267px 20px 20px;
}

.promotion .chocolate-free {
  padding: 23px 223px 19px 20px;
}

.promotion .special-offer {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promotion-raspberry .special-offer {
  padding-right: 30px;
}

.promotion-chocolate .special-offer {
  padding-right: 27px;
}

.promotion a {
  display: inline-block;
  align-self: flex-end;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74d37, #f06542);
  border-radius: 25px;
}

.promotion-raspberry a {
  margin-right: 21px;
  padding: 15px 24px 14px 22px;
}

.promotion-chocolate a {
  margin-right: 21px;
  padding: 14px 22px 14px 21px;
}

.promotion-raspberry a:hover, .promotion-chocolate a:hover {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #ed705e, #f48569);
}

.promotion-raspberry a:active, .promotion-chocolate a:active {
  box-shadow: inset 0px 2px 2px 0 rgba(149, 39, 24, 0.46);
  background-image: linear-gradient(to top, #e0603e, #d84732);
}

.enumeration-of-orders {
  display: none;
}

.best-choice, .main-ice-cream {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-ice-cream {
  margin-top: 40px;
  margin-bottom: 80px;
}

.best-choice .ice-cream, .main-ice-cream .ice-cream {
  width: 267px;
}

.best-choice a, .main-ice-cream a {
  display: block;

  color: #ffffff;
  text-align: center;
}

.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active {
   color: #ffbc9e;
}

.best-choice .price, .main-ice-cream .price {
  margin: 0;
}

.best-choice a, .main-ice-cream a {
  font-size: 16px;
  line-height: 22px;

  font-weight: normal;
  text-decoration: underline;
}

.best-choice a:hover,
.best-choice a:focus,
.best-choice a:active,
.main-ice-cream a:hover,
.main-ice-cream a:focus,
.main-ice-cream a:active {
  color: #ffbc9e;
}

.best-choice .weight, .main-ice-cream .weight {
  font-size: 30px;
}

.best-choice, .main-ice-cream {
  font-size: 45px;
  line-height: 45px;
}

.main-ice-cream .ice-cream-assortment {
  font-size: 35px;
  line-height: 35px;
}

.main-ice-cream {
  margin-bottom: 66px;
}

.ice-cream {
  position: relative;
  z-index: 30;

  margin-bottom: 40px;
}

.best-choice .ice-cream::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/svg-gllacy/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ice-cream::after {
  content: "";

  position: absolute;
  bottom: 71px;
  left: 79px;

  width: 32px;
  height: 34px;

  background-image: url("../img/svg-gllacy/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ice-cream .price {
  position: absolute;
  bottom: 60px;
}

.main-ice-cream .ice-cream:hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  /*padding: 6px 14px 77px 13px;*/

  background-color: #f8f7f4;

  opacity: 0.2;
}

.price .weight {
  display: inline-block;
  margin-left: 25px;
}

.about-gllacy-store {
  margin: 0 auto;



  font-size: 16px;
  color: #323232;
  background-image: url("../img/wafer-pattern.png");

  border-radius: 15px;
}

.about-gllacy-store .features {
  margin: 0;
  padding-top: 25px;
  padding-left: 21px;
  width: 1013px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.about-gllacy-store .features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
  padding-bottom: 5px;

  line-height: 22px;
  font-weight: normal;

  list-style: none;
}

.features-list .feature-item:nth-child(2n) {
  width: 470px;
}

.features-list .feature-item:nth-child(2n+1) {
  width: 476px;
}

.features-list .feature-item {
  position: relative;
}

.features-list .feature-item:nth-child(1)::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -60px;

  width: 49px;
  height: 49px;

  background-image: url("../img/svg-gllacy/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list .feature-item:nth-child(2)::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -60px;

  width: 49px;
  height: 49px;

  background-image: url("../img/svg-gllacy/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list .feature-item:nth-child(3)::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -60px;

  width: 49px;
  height: 49px;

  background-image: url("../img/svg-gllacy/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list .feature-item:nth-child(4)::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -60px;

  width: 49px;
  height: 49px;

  background-image: url("../img/svg-gllacy/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.news {
  width: 560px;
  min-height: 220px;
  border-radius: 15px;

  font-weight: normal;
  color: #323232;

  background-image: url("../img/news-background.png");
  background-repeat: repeat;
}

.news .news-title {
  margin: 0;
  padding-top: 26px;
  padding-left: 20px;
  line-height: 22px;
}

.news a {
  display: inline-block;
  width: 281px;
  padding-top: 13px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.news a:hover,
.news a:focus,
.news a:active,
.address a:hover,
.address a:focus,
.address a:active {
  color: #e84d37;
}

.mail-background {
  position: relative;
  padding: 4px 8px 3px;
  width: 552px;

  border-radius: 10px;
  background-image: url("../img/mail-background.jpg");
}

.subscribe {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 553px;
  padding-bottom: 29px;

  line-height: 22px;
  font-weight: normal;

  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe .call-to-subscribe {
  margin: 0;
  padding: 28px 22px 33px 21px;
}

.subscribe .user {
  display: block;
  padding-left: 20px;
}

.subscribe input[placeholder] {
  width: 363px;
  margin-right: 9px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 15px;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);

  line-height: 24px;

  background-color: #ffffff;
  color: #999999;
}

.subscribe .submit {

  padding: 13px 17px 12px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  cursor: pointer;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
}

.map {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 1200px;

  background-image: url("../img/map-background.jpg");
  background-repeat: repeat;
  background-color: #849d8f;
}

.map .container {
  position: relative;
  display: flex;
  justify-content: flex-end;

  width: 1146px;
  margin: 0 auto;
  padding: 61px 0 40px 0;

}

.map .container::before {
  content: "";

  position: absolute;
  top: 140px;
  left: 240px;

  width: 80px;
  height: 140px;

  background-image: url("../img/svg-gllacy/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map .container::after {
  content: "";

  position: absolute;
  bottom: 150px;
  left: 280px;

  width: 182px ;
  height: 110px;

  background-image: url("../img/pin-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address {
  width: 302px;

  font-style: normal;
  font-weight: normal;
  color: #323232;
  background-color: #ffffff;
  border-radius: 12px;
}

.address-announcement {
  margin: 0;
  padding: 32px 129px 4px 25px;

  font-size: 14px;
  line-height: 20px;
}

.address-office {
  margin: 0;
  padding: 5px 55px 6px 25px;

  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.order-phone {
  margin: 0;
  padding: 17px 104px 6px 25px;

  font-size: 14px;
  line-height: 20px;
}

.phone-schedule {
  margin: 0;
  padding: 6px 120px 13px 25px;

  font-size: 14px;
  line-height: 20px;
}

.phone-schedule a {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  color: #323232;
}

.phone-schedule a:hover,
.phone-schedule a:focus,
.phone-schedule a:active {
  color: #e84d37;
}

.address .button {
  margin-left: 25px;
  margin-top: 13px;
  margin-bottom: 26px;
  padding: 13px 28px;
  border: none;
  border-radius: 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);

  background-image: linear-gradient(to top, #e74a35, #f26843);

  cursor: pointer;
}

.pagination-list {
  margin-bottom: 30px;
}

.pagination-list .pagination {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.pagination-item {
  margin-right: 4px;
}

.pagination a, .pagination .previous-page, .pagination .next-page {
  display: inline-block;
  padding-top: 4px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.pagination a {
  width: 27px;
  height: 22px;

  border-radius: 50%;
}

.pagination-item a:hover {
  color: #ffffff;
  background-color: #9db1a5;
}

.pagination a:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination .active a {
  width: 27px;
  height: 22px;

  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination .previous-page {
  margin-top: 22px;
  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.png") no-repeat;

  transform: rotate(180deg);
  transform-origin: 0 0;
}

.pagination .next-page {
  margin-top: 7px;
  width: 8px;
  min-height: 12px;

  background: url("../img/icon-right-small.png") no-repeat;
}

.container.catalog {
  width: 1146px;
  padding-top: 18px;

  border-top: 1px solid #a9bbb1;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  font-weight: normal;
  color: #ffffff;
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
}

.footer-social .social-icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 11px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  opacity: 0.8;
}

.footer-social .social-icon:hover {
  opacity: 1;
}

.footer-social .social-icon:active {
  opacity: 0.5;
}

.footer-info {
  width: 331px;

  font-size: 13px;
  line-height: 18px;
}

.footer-info a {
  display: inline-block;
}

.footer-info a:nth-child(1) {
  position: relative;

  margin-right: 32px;
  margin-bottom: 9px;
  padding-left: 22px;

  font-weight: bold;
}

.footer-info a:nth-child(1)::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 0;

  width: 15px;
  height: 13px;

  background-image: url("../img/svg-gllacy/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info a:nth-child(2) {
  margin-bottom: 9px;
}

.footer-info a:nth-child(3) {
  margin-right: 44px;
  padding-left: 22px;
}

.inner-page .footer-info a:nth-child(3) {
  margin-right: 37px;
}

.footer-copyright .copyright {
  margin-top: 0;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}


/*div, section, article, a, ul, li, p, footer, header {
  outline: 1px solid red;
  }*/



























